<%= erb :"/templates/header", :locals => {:titulo => "Página Não Encontrada"} %>

<section class="engine"><a href="https://mobirise.co/p">bootstrap menu</a></section><section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header4-i" data-rv-view="36" style="background-image: url(/assets/images/bg.jpg);">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-center">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
        
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-center">
                <div class="row"><div class=" col-sm-8 col-sm-offset-2">
                    <div class="mbr-hero animated fadeInUp">
                        <h1 class="mbr-hero__text">Oops, temos um problema :(</h1>
                        <p class="mbr-hero__subtext">Essa página não foi encontrada.<br>Erro 404. sajkdhasjkdhjkashdjklas</p>
                    </div>
                    <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-danger animated fadeInUp delay" href="/index">Página Inicial</a> <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="/page1#features1-f">Ajuda</a></div>
                </div></div>
            </div></div>
        </div>
        
    </div>
</section>

<%= erb :"/templates/footer" %>