body
{
	background: #eee;
}

.centralizado
{
	text-align: center;
	align-content: center;
}

.form-horiz-medio
{
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.jumbotron
{
	padding-bottom: 20%;
}

.login
{
	/* padding-bottom: 30%; */
	margin-top: 8%;
	padding: 1.5em;
	margin-bottom: 25%;
	margin-left: 20%;
	margin-right: 20%;
	background-color: #fff;
	/* block-size: 10%; */
}

.login-logo
{
	/* padding-top: 3em; */
	padding-bottom: 1.5em;
}


footer
{
	position: relative;
	margin-bottom: 0%;
	padding-bottom: 0%;
}
