
  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <script src="/assets/jarallax/jarallax.js') }}"></script>
  <!--[if lte IE 9]>
    <script src="{{ asset('/assets/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
  <![endif]-->
  <script src="/assets/mobirise/js/script.js"></script>
  <script src="/assets/dropdown-menu/script.js"></script>
  <script src="/assets/formoid/formoid.min.js"></script>
  
</body>
</html>