
    <%  temFormularioEmail = false    %>


<!DOCTYPE html>
<html lang="pt-br">
<head>
  <!-- Site made with Mobirise Website Builder v4.5.4, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.5.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/imagem.png" type="image/x-icon">
  <meta name="description" content="">
  <title>Nome do Site | <%= 
                        if not defined? titulo then
                            "Home"
                        else
                             titulo
                        end
                       %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:700,400&subset=cyrillic,latin,greek,vietnamese">
  <link rel="stylesheet" href="/assets/jovi/custom.css" type="text/css">
</head>
<body>

<%= erb :"templates/navbar"%>   
