<%= erb :"templates/header", :locals => {:titulo => "Home"} %>

Conteúdo da página aqui

<form method="POST" action="/alguma/coisa">
    <input type="text" placeholder="teste" name="teste"></input>
    <input type="submit" value="Enviar"></input>
</form>


<%= erb :"templates/footer" %>
